.list-group {
    margin-bottom: 0;
}

.draggable-el {
    height: auto;
    width: auto;
    color: #fff;
    background-color: #3c4d5e;
}

.draggable-li img {
    vertical-align: top;
}

.sections-sortable,
.controls-sortable {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: block;
    height: 100%;
    min-height: 400px;
}

.controls-sortable {
    min-height: 100px;
}

.sections-sortable img,
.controls-sortable img {
    vertical-align: top;
}

.drop-hover {
    border: 1px dashed #95A5A6;
    height: 100px;
    background: #ECF0F1;
}
.control-label {
    padding: 0 0 5px 10px;
}