@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src:url('../fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

body {
    background: #34495e;
    color: #fff;
    font-weight: 300;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #f7f7f7;
    outline: none;
}

a:hover, a:focus {
    color: #fff;
    outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.content {
    padding: 4em 2em;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 25em) {

    body {
        font-size: 80%;
    }

}

.draggable-li {
    height: auto;
    width: auto;
    background: #F9FAFA;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
}

.draggable-li img {
    vertical-align: top;
}

#sortable {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: block;
    height: 100%;
    min-height: 400px;
}

#sortable li {
    padding: 0;
}

#sortable img {
    vertical-align: top;
}

.drop-hover {
    border: 2px dashed #95A5A6;
    height: 150px;
    background: #ECF0F1;
}

.items-list {
    overflow: hidden;
    position: relative;
    height: 100px;
}

.trash {
    width: 340px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../images/trash.png") 50% 50% rgba(255, 0, 0, 0.3) no-repeat;
    visibility: hidden;
    z-index: 1000;
}

.trash.ui-state-hover {
    visibility: visible;
    border: none;
}

.trash.ui-state-active {
    background-color: rgba(255, 0, 0, 0.6);
}

.text-center {
    text-align: center;
}